*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    font-size: 10px;
}

header{
    width: 100%;
    height: 10em;
    background-color: #148F77;
}

section{
    width: 100%;
    height: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #148F77;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
section > div{
    width: 20em;
    height: 20em;
    margin: 1em;
    background-color: white;
}

footer{
    width: 100%;
    height: 10em;
    background-color: #148F77;
}

/****************************************
#       CONFIGURACION RESPONSIVE        *
****************************************/

@media only screen and (max-width:1440px) {
    header{
        background-color: #1B2631;
    }
    section{
        background-color: #1B2631;
    }
    footer{
        background-color: #1B2631;
    }
}

@media only screen and (max-width:1366px) {
    header{
        background-color: #9A7D0A;
    }
    section{
        background-color: #9A7D0A;
    }
    footer{
        background-color: #9A7D0A;
    }
}

@media only screen and (max-width:1024px) {
    header{
        background-color: #0E6655;
    }
    section{
        background-color: #0E6655;
    }
    footer{
        background-color: #0E6655;
    }
}

@media only screen and (max-width:768px) {
    header{
        background-color: #7B241C;
    }
    body{
        font-size: 5px;
    }
    section{
        background-color: #7B241C;
    }
    footer{
        background-color: #7B241C;
    }
}

@media only screen and (max-width: 480px) {
    header{
        background-color: #512E5F;
    }
    section{
        background-color: #512E5F;
    }
    footer{
        background-color: #512E5F;
    }
}

@media only screen and (max-width:320px) {
    header{
        background-color: #1A5276;
    }
    section{
        background-color: #1A5276;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    section > div{
        width: 100%;
        height: 20em;
        margin: 0;
        margin-top: 1em;
        box-sizing: border-box;
        background-color: white;
    }
    footer{
        background-color: #1A5276;
    }
}